---
title: مسترموجی
description: من مجتبی‌م. مجتبی جوان. برنامه‌نویس و طراح گرافیک. اینجا می‌نویسم.
isHome: true
websiteTitle: مسترموجی
websiteSubtitle: چه کسی گوسفند مرا قورت داد؟ کاوه!؟
---
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20980483-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20980483-2');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mrmowji" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ website.assetsPath }}/images/layout/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ website.assetsPath }}/images/layout/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ website.assetsPath }}/images/layout/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ website.assetsPath }}/images/layout/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ website.assetsPath }}/images/layout/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ website.assetsPath }}/images/layout/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ website.assetsPath }}/images/layout/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ website.assetsPath }}/images/layout/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ website.assetsPath }}/images/layout/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ website.assetsPath }}/images/layout/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ website.assetsPath }}/images/layout/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ website.assetsPath }}/images/layout/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ website.assetsPath }}/images/layout/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ website.assetsPath }}/images/layout/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ website.assetsPath }}/css/site.min.css" />
  <script src="{{ website.assetsPath }}/js/site.min.js" defer></script>
</head>
<body>
  <header class="{{ "home" if isHome }}">
    <a href="/">
      <img class="logo {{ "home" if isHome }}" src="{{ website.assetsPath }}/images/layout/logo2.png" alt="{{ websiteTitle }}" />
    </a>
    <div class="subtitle {{ "home" if isHome }}">{{ websiteSubtitle }}</div>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <div class="introduction">
      من مجتبی‌م. مجتبی جوان. 
      برنامه‌نویس و طراح گرافیک.
      اینجا می‌نویسم.
    </div>
    <nav>
      <a href="/posts">
        آرشیو
      </a>
      <a href="/about">
        درباره
      </a>
      <a href="/cv">
        رزومه
      </a>
      <a href="/contact">
        تماس
      </a>
    </nav>
  </footer>
</body>
</html>