---
layout: layout.njk
isHome: false
---

<h1>{{ title }}</h1>
<article>
  {{ content | safe }}
  {# <p class="post-info">
    منتشر شده در <time datetime="{{ date | isoDate }}">{{ date | persianDate }}</time>
    {% if date !== editedOn and editedOn !== undefined %}
      <br>آخرین ویرایش در <time datetime="{{ editedOn }}">{{ editedOn }}</time>
    {% endif %}
  </p> #}

  <p class="comments">
    می‌تونی نظرتو از طریق
    <a target="_blank"
      href="mailto:javan.mojtaba@gmail.com?subject={{ title }}&body={{ website.url }}{{ page.url }}">
      ایمیل
    </a>
    /
    <a target="_blank"
      href="https://t.me/mrmowji">
      تلگرام
    </a>
    برام بفرستی.
  </p>
</article>